<section>
    <h3>ES6 Topics</h3>
    <md-grid-list cols="4">

        <md-card class="example-card">
            <md-card-header>
                <!--<div md-card-avatar class="example-header-image"></div>-->
                <md-card-title>let/var/const</md-card-title>
                <md-card-subtitle>special variables</md-card-subtitle>
            </md-card-header>
            <!--<img md-card-image src="assets/img/examples/shiba2.jpg">-->
            <md-card-content>
                <p [innerHTML]="test"></p>
            </md-card-content>
            <md-card-actions>
                <button md-button>LIKE</button>
                <button md-button>SHARE</button>
            </md-card-actions>
        </md-card>

        <!--<md-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="tile.color">
            {{tile.text}}
        </md-grid-tile>-->
    </md-grid-list>
</section>